{
  "mysql": {},
  "postgres": {},
  "sqlite": {
    "host": "/var/lib/semaphore/database.sqlite"
  },
  "dialect": "sqlite",
  "port": ":3000",
  "interface": "0.0.0.0",
  "tmp_path": "/tmp/semaphore",
  "web_host": "http://10.0.10.17:3000",
  "cookie_encryption": "{{ vault_semaphore_cookie_encryption }}",
  "cookie_hash": "{{ vault_semaphore_cookie_hash }}",
  "access_key_encryption": "{{ vault_semaphore_access_key_encryption  }}",
  "email_alert": false,
  "telegram_alert": false,
  "slack_alert": false,
  "ldap_enable": false
}
