{
  "mysql": {},
  "postgres": {},
  "bolt": {
    "path": "/var/lib/semaphore/database.boltdb"
  },
  "dialect": "bolt",
  "port": ":3000",
  "interface": "0.0.0.0",
  "tmp_path": "/tmp/semaphore",
  "web_host": "http://100.119.135.37:3000",
  "cookie_encryption": "{{ vault_semaphore_cookie_encryption }}",
  "email_alert": false,
  "telegram_alert": false,
  "slack_alert": false,
  "ldap_enable": false
}
