SEMAPHORE_URL=http://127.0.0.1:3000
SEMAPHORE_TOKEN={{ vault_semaphore_alert_router_token }}
SEMAPHORE_PROJECT_ID={{ semaphore_project_id }}
SEMAPHORE_TERRAFORM_REPLACE_TEMPLATE_ID={{ semaphore_terraform_replace_template_id }}
SEMAPHORE_ANSIBLE_REJOIN_TEMPLATE_ID={{ semaphore_ansible_rejoin_template_id }}
ALERT_ROUTER_COOLDOWN=1800
ALERT_ROUTER_STATE=/var/lib/alert-router/state.json
